$header-height: 64px;

.header {
  padding: 20px;
  background: #000;
  height: $header-height;
}

.header-title {
  margin: 0;
  color: #fff;
  font-size: 1.2em;
}


.content {
  @include outer-container(100%);
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;

  .editor, .results {
    @include span-columns(6);
    height: 100%;
  }
}
