$header-height: 64px;

.header {
  padding: 20px;
  background: #000;
  height: $header-height;
}

.header-title {
  margin: 0;
  color: #fff;
  font-size: 1.2em;
}

.header-tag {
  font-size: 14px;
  font-weight: normal;
}

.query-editor {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
}
