.icon-btn {
  border: 0;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-color: inherit;

  &:focus {
    opacity: 0.75;
  }
}

.close-btn {
  @extend .icon-btn;
  background-image: url('/assets/close-icon.svg');
}