.query-input-container, .CodeMirror{
  height: 100%;
}

.query-editor {
  @include outer-container(100%);
}

.query-input, .query-result {
  @include span-columns(6);
  height: 100%;
  overflow: auto;
}

.query-input {
  margin-right: 0;
  position: relative;
  border-right: 1px solid #333;
}
