$variable-spacing: 5px;
$variable-width: 175px;
$variable-height: 72px;
$variable-color: #bada55;

.variable-editor {
  @include flex-wrap(wrap);
  @include display(flex);
  @include flex-direction(row);
}

.variable-editor-new-btn {
  margin: $variable-spacing;
  background-color: inherit;
  width: $variable-width;
  height: $variable-height;
  border-radius: $variable-spacing;
  border: 2px dashed $variable-color;

  &:focus {
    outline: none;
  }
}

.variable {
  @include display(flex);
  @include flex-direction(column);
  background-color: $variable-color;
  padding: $variable-spacing;
  margin: $variable-spacing;
  border-radius: $variable-spacing;
  width: $variable-width;
  height: $variable-height;
}

.variable-type, .variable-delete-btn {
  @extend .column;
}

.variable-type, .variable-name {
  background-color: inherit;
  border: 0;
}

.variable-type {
  flex: 2;
}

.variable-name {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px 0 5px 10px;

  border-radius: $variable-spacing;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);

  &:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.variable-delete-btn {
  background-color: inherit;
  background-image: url('/assets/close-icon.svg');
  border: 0;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}